.App {
  text-align: center;
}

.mainDiv {
  margin: 40px auto 0 auto;
  padding: 40px;
  max-width: 500px;
  background-color: palegreen;
  text-align: center;
}

.hide-show-timer-btn {
  width: 200px;
  margin-bottom: 20px;
  color:gray;
}

body {
  background-color: #e8fee7;
}